{% extends 'base.html.twig' %}

{% block title %}EpiMovies{% endblock %}
{% block body %}


	<div class="row">
	
<div class="card-group">
		{% for s in someArray.results %}

	<div class="col-6 col-md-3">
	


	<div class="card">
    
    <img class="card-img-top" src=" {{ 'http://image.tmdb.org/t/p/w500'~ s.poster_path }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title stretched-link">{{ s.original_title }}</h5>
      <p class="card-text"></p>
      <p class="card-text"><i class="fa fa-star " style="color: #FF8800"></i>  {{ s.vote_average }}
      <a href="/movie/{{ s.id }}" class="stretched-link">
      <button type="button"  class="btn btn-primary btn-sm float-right">More</button> 
      </a></p>
    
    </div>



</div>

    </div>



  {% endfor %}
 
  </div>
</div>

      
        
   

{% endblock %}