{% extends 'base1.html.twig' %}

{% block title %}New UsersList{% endblock %}

{% block body %}
    <h1>Create new UsersList</h1>

    {{ include('users_list/_form.html.twig') }}

    <a href="{{ path('users_list_index') }}">Back to list</a>
{% endblock %}
