

<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
  </button>
   <form>
        <div class="input-group">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"></button>
          </span>
        </div>
      </form>


<div class="collapse navbar-collapse" id="mobile-nav">
  

  </div>
</div>
</nav>
